<launch>
  <node name="rc_car_node" pkg="rc_car" type="rc_car_node">
    <param name="engine_id" value="0"/>
    <param name="steering_servo_id" value="1" />
    <param name="steering_servo_right_limit" value="775" />    
    <param name="steering_servo_left_limit" value="475" />
    <param name="reversing_timeout" value="2.0" />
    <param name="esc_reverse_mode_timeout" value="0.094" />
  </node>
</launch>
